html, body{
  margin: 0;
  padding: 0;
  background-color: #AAA;
  display: flex;
  justify-content: center;
}

div{
  font-family: Helvetica;
}

/* big container div */
.Rectangle-3{
  background-color: white;
  width: 400px;
  height: 100vh;
  padding-left: 11px;
}

/* title */
.venements-venir{
  color: #888c8d;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 23px;
}

/* 3 event divs */
.background{
  margin-bottom: 18px;
  width: 330px;
  height: 100px;
  box-shadow: 0 0 2px 2px #f2f1f2;
  padding: 3%;
}

/* day, month, year & type */
.date-type-event {
  width: 100%;
  justify-content: flex-start;
  display: flex;
}
.date-type-event > .layer{
  color: #b2b2b2;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.bold-day{
  font-weight: bold;
  font-size: 35px;
  margin-right: 6px;
  font-family: Helvetica;
}
.month, .years{
  font-size: 12px;
  font-weight: bold;
}
.layer{
  width: 75%;
}
.mini-container-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* area, prices */
.lieu-prix div{
  margin: 2px 0;
}

.Place, .Tarif{
  color: #9a9a9a;
  font-size: 14px;
}

.bold-price{
  font-weight: bold;
  color: grey;
}

.Titre{
  font-weight: bold;
  font-size: 16px;
}
/* liens comparatif */
.liens-comparatif{
  color: green;
  text-decoration: none;
}

.liens-comparatif:hover{
  text-decoration: underline;
